@{
	ViewData["Title"] = "Craft Gallery";
}

<div>
	<br />
	<br />
	<p>Some images of crafts used by our Contractors.</p>
	<br />
	<img src="~/images/Ships/ship1.jpg" class="img-rounded center-block" width="500" />
	<br />
	<img src="~/images/Ships/ship2.jpg" class="img-rounded center-block" width="500" />
	<br />
	<img src="~/images/Ships/ship3.jpg" class="img-rounded center-block" width="500" />
	<br />
	<img src="~/images/Ships/ship4.jpg" class="img-rounded center-block" width="500" />
	<br />
	<img src="~/images/Ships/ship5.jpg" class="img-rounded center-block" width="500" />
</div>