@{
	ViewData["Title"] = "Orbital Gallery";
}

<div>
	<br />
	<br />
	<p>These are photos taken from our highest orbital movers.</p>
	<br />
	<img src="~/images/Orbital/earth1.jpg" class="img-rounded center-block" width="500"/>
	<img src="~/images/Orbital/earth2.jpg" class="img-rounded center-block" width="500"/>
	<img src="~/images/Orbital/earth3.jpg" class="img-rounded center-block" width="500"/>
	<img src="~/images/Orbital/earth4.jpg" class="img-rounded center-block" width="500"/>
	<img src="~/images/Orbital/earth5.jpg" class="img-rounded center-block" width="500"/>
	<img src="~/images/Orbital/earth6.jpg" class="img-rounded center-block" width="500"/>
	<img src="~/images/Orbital/earth7.jpg" class="img-rounded center-block" width="500"/>
</div>