@{
	ViewData["Title"] = "Gallery";
}
<br />
<h2>Galleries <small>of contractor crafts and orbital photos from our stations.</small></h2>
<div>
	<p>This is the gallery index.</p>
	<ul>
		<li><a class="btn btn-primary" asp-action="CraftGallery">Contractor Craft Photo Gallery</a></li>
		<li><a class="btn btn-primary" asp-action="OrbitalGallery">Orbital Photo Gallery</a></li>
	</ul>
</div>