@{
	ViewData["Title"] = "About SkyDock";
}
<body>
<br />
<br />
<div>
	<p>SkyDock is an international service that supercedes long range air travel by implementing transorbital relocation systems
	as a logistical solution on planet earth.</p>
	<br />
	<p>First the payload is picked up via an air shuttle, and brought to the nearest launch site.</p>
	<br/>
	<p>From the launch site the payload is loaded onto a Super Rocket. SkyDock rockets are modular and allow for the transportation of
	many different types of cargo - from livable luxury orbit pods - to climate controlled freight containers with a tolerance of less than
	half of a degeree. Anything can be moved using SkyDock's transportation system.</p>
	<br />
	<p>The rocket booster returns to the planet - and the modular capsules are put into orbit. Here they will rendezvous with orbital moving
	stations that transport the pods between them at supersonic speeds that could never be achieved by aircraft.</p>
	<br />
	<p>When any pod is to be returned the planet, it can be launched from any orbital moving station, to any catch site on the globe.</p>
	<br />
	<p>SkyDock has launch facilities, and catch sites near every major city on earth.</p>
</div>
</body>