@{
	ViewData["Title"] = "Careers";
}
<body>
	<br />
	<br />
	<div>
		<p>
			Are you okay with the possibilty of being killed horribly by the powerful forces of Space for minimum wage? contact us!
		</p>
	</div>
</body>
