@{
	ViewData["Title"] = "Sources of Further Information";
}

<div>
	<br/>
	<h2>Sources <small>of information regarding Sky Dock Transorbital Systems</small></h2> <!--Bootstrap mod using small-->
	<ul>
		<li><a class="btn btn-primary btn-sm" asp-action="About">About Sky Dock Transorbital Systems</a></li> <!--Bootstrap modifications (btn-sm)-->
		<li><a class="btn btn-primary btn-sm" asp-action="Careers">Join the Sky Dock Team</a></li> <!--Bootstrap modifications (btn-sm)-->
	</ul>
</div>